.app-container {
   
    background-size: cover;
    background-position: center; 
    min-height: 100vh; 
    
}


.auth-form-container {
    width: 700px; 
    height: 550px; 
    margin: 0 auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #aaaaaa;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color:#e91010;
}

.auth-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #e91010;
    color: #fff;
    cursor: pointer;
}

.login-form button:hover {
    background-color:#0c0d0c;
}

.link-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    text-align: center;
}

.link-btn:hover {
    text-decoration: underline;
}
